In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [5]:
sentiment_analysis_tweets = pd.read_csv('./data/archive/training.1600000.processed.noemoticon.csv', encoding='ISO-8859-1')
sentiment_analysis_tweets.head()

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [4]:
sentiment_analysis_tweets.dtypes

polarity of tweet      int64
id of the tweet        int64
date of the tweet     object
query                 object
user                  object
text of the tweet     object
dtype: object

In [5]:
for col in sentiment_analysis_tweets.columns:
    print(f'column name : {col}')
    print(sentiment_analysis_tweets[col].unique())

column name : polarity of tweet
[0 4]
column name : id of the tweet
[1467810672 1467810917 1467811184 ... 1960186429 1960186445 1960186607]
column name : date of the tweet
['Mon Apr 06 22:19:49 PDT 2009' 'Mon Apr 06 22:19:53 PDT 2009'
 'Mon Apr 06 22:19:57 PDT 2009' ... 'Fri May 29 07:33:44 PDT 2009'
 'Fri May 29 07:33:43 PDT 2009' 'Fri May 29 07:33:45 PDT 2009']
column name : query
['NO_QUERY']
column name : user
['scotthamilton' 'mattycus' 'ElleCTF' ... 'timg888' 'Madelinedugganx'
 'Falchion']
column name : text of the tweet
["is upset that he can't update his Facebook by texting it... and might cry as a result  School today also. Blah!"
 '@Kenichan I dived many times for the ball. Managed to save 50%  The rest go out of bounds'
 'my whole body feels itchy and like its on fire ' ...
 '@ShaDeLa same here  say it like from the Terminiator movies. comes off like just 3 words. :-D'
 '@DestinyHope92 im great thaanks  wbuu?'
 'cant wait til her date this weekend ']

In [6]:
sentiment_analysis_tweets.isnull().sum()

polarity of tweet     0
id of the tweet       0
date of the tweet     0
query                 0
user                  0
text of the tweet     0
dtype: int64

In [7]:
sentiment_analysis_tweets_with_metadata = pd.read_csv('./data/archive/train.csv', encoding='ISO-8859-1')
sentiment_analysis_tweets_with_metadata.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [8]:
sentiment_analysis_tweets_with_metadata.isnull().sum()

textID              0
text                1
selected_text       1
sentiment           0
Time of Tweet       0
Age of User         0
Country             0
Population -2020    0
Land Area (Km²)     0
Density (P/Km²)     0
dtype: int64

In [9]:
sentiment_analysis_tweets_with_metadata[sentiment_analysis_tweets_with_metadata['text'].isnull()]

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
314,fdb77c3752,NaN,NaN,neutral,night,31-45,Namibia,2540905,823000.0,3

In [10]:
print(f'Total no of rows: {sentiment_analysis_tweets_with_metadata.shape[0]}')
total_rows = sentiment_analysis_tweets_with_metadata.shape[0]
for col in sentiment_analysis_tweets_with_metadata.columns:
    # print(f'Column name: {col}')
    # print(sentiment_analysis_tweets_with_metadata[col].unique())
    print(f'{col} count: {len(sentiment_analysis_tweets_with_metadata[col].unique())}')

Total no of rows: 27481
textID count: 27481
text count: 27481
selected_text count: 22431
sentiment count: 3
Time of Tweet count: 3
Age of User count: 6
Country count: 195
Population -2020 count: 195
Land Area (Km²) count: 193
Density (P/Km²) count: 136

In [11]:
print(f'Total no of rows: {len(sentiment_analysis_tweets)}')

for col in sentiment_analysis_tweets.columns:
    print(f'{col} count: {len(sentiment_analysis_tweets[col].unique())}')

Total no of rows: 1048572
polarity of tweet  count: 2
id of the tweet count: 1048041
date of the tweet count: 662450
query count: 1
user count: 511364
text of the tweet  count: 1036132

In [12]:
total_rows = sentiment_analysis_tweets_with_metadata.shape[0]

for col in sentiment_analysis_tweets_with_metadata.columns:
    cols_unique_cnt = len(sentiment_analysis_tweets_with_metadata[col].unique())
    print(f'unique value percentage of {col}: {round(cols_unique_cnt/total_rows, 2)}')

unique value percentage of textID: 1.0
unique value percentage of text: 1.0
unique value percentage of selected_text: 0.82
unique value percentage of sentiment: 0.0
unique value percentage of Time of Tweet: 0.0
unique value percentage of Age of User: 0.0
unique value percentage of Country: 0.01
unique value percentage of Population -2020: 0.01
unique value percentage of Land Area (Km²): 0.01
unique value percentage of Density (P/Km²): 0.0

In [13]:
total_rows = sentiment_analysis_tweets.shape[0]

for col in sentiment_analysis_tweets.columns:
    cols_unique_cnt = len(sentiment_analysis_tweets[col].unique())
    print(f'unique value percentage of {col}: {round(cols_unique_cnt/total_rows, 2)}')

unique value percentage of polarity of tweet : 0.0
unique value percentage of id of the tweet: 1.0
unique value percentage of date of the tweet: 0.63
unique value percentage of query: 0.0
unique value percentage of user: 0.49
unique value percentage of text of the tweet : 0.99

In [14]:
sentiment_analysis_tweets_with_metadata.columns

Index(['textID', 'text', 'selected_text', 'sentiment', 'Time of Tweet',
       'Age of User', 'Country', 'Population -2020', 'Land Area (Km²)',
       'Density (P/Km²)'],
      dtype='object')

In [15]:
sentiment_analysis_tweets.columns

Index(['polarity of tweet ', 'id of the tweet', 'date of the tweet', 'query',
       'user', 'text of the tweet '],
      dtype='object')

In [16]:
sentiment_analysis_tweets.select_dtypes(include= ['number']).columns.to_list()

['polarity of tweet\xa0', 'id of the tweet']

In [17]:
sentiment_analysis_tweets.dtypes

polarity of tweet      int64
id of the tweet        int64
date of the tweet     object
query                 object
user                  object
text of the tweet     object
dtype: object

In [18]:
sentiment_analysis_tweets_with_metadata.dtypes

textID               object
text                 object
selected_text        object
sentiment            object
Time of Tweet        object
Age of User          object
Country              object
Population -2020      int64
Land Area (Km²)     float64
Density (P/Km²)       int64
dtype: object

In [19]:
sentiment_analysis_tweets_with_metadata.select_dtypes(include= ['number']).columns.to_list()

['Population -2020', 'Land Area (Km²)', 'Density (P/Km²)']

In [20]:
text_cols = sentiment_analysis_tweets.select_dtypes(include= ['object']).columns.to_list()
text_cols

['date of the tweet', 'query', 'user', 'text of the tweet\xa0']

In [23]:
sentiment_analysis_tweets.head()

,polarity of tweet,id of the tweet,date of the tweet,query,user,text of the tweet
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [24]:
sentiment_analysis_tweets_with_metadata['sentiment'].unique()

array(['neutral', 'negative', 'positive'], dtype=object)

In [25]:
sentiment_analysis_tweets['query'].unique()

array(['NO_QUERY'], dtype=object)

In [26]:
sentiment_analysis_tweets_with_metadata.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [11]:
sentiment_analysis_tweets.columns

Index(['polarity of tweet ', 'id of the tweet', 'date of the tweet', 'query',
       'user', 'text of the tweet '],
      dtype='object')

In [13]:
sentiment_analysis_tweets['polarity of tweet\xa0'].value_counts()

polarity of tweet
0    799996
4    248576
Name: count, dtype: int64

In [27]:
df1 = pd.read_csv('./data/archive/testdata.manual.2009.06.14.csv', encoding= 'ISO-8859-1', header= 0)
df.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [29]:
df = pd.read_csv('./data/archive/testdata.manual.2009.06.14.csv', encoding= 'ISO-8859-1')
print(df.shape)
df.columns = df1.columns
print(df.shape)
df.head()

(515, 6)
(515, 6)

,4,3,Mon May 11 03:17:40 UTC 2009,kindle2,tpryan,"@stellargirl I loooooooovvvvvveee my Kindle2. Not that the DX is cool, but the 2 is fantastic in its own right."
0,4,4,Mon May 11 03:18:03 UTC 2009,kindle2,vcu451,Reading my kindle2... Love it... Lee childs i...
1,4,5,Mon May 11 03:18:54 UTC 2009,kindle2,chadfu,"Ok, first assesment of the #kindle2 ...it fuck..."
2,4,6,Mon May 11 03:19:04 UTC 2009,kindle2,SIX15,@kenburbary You'll love your Kindle2. I've had...
3,4,7,Mon May 11 03:21:41 UTC 2009,kindle2,yamarama,@mikefish Fair enough. But i have the Kindle2...
4,4,8,Mon May 11 03:22:00 UTC 2009,kindle2,GeorgeVHulme,@richardebaker no. it is too big. I'm quite ha...

In [2]:
from google.oauth2 import service_account
from googleapiclient.discovery import build

SCOPES = ['https://www.googleapis.com/auth/drive']
SERVICE_ACCOUNT_FILE = '/Users/karan/Siddu/GitHub/RNN/service_credentials.json'

credentials = service_account.Credentials.from_service_account_file(
    SERVICE_ACCOUNT_FILE, scopes=SCOPES)
service = build('drive', 'v3', credentials=credentials)

# Test: List files in the DVC-Storage folder
folder_id = '1E2NkB8mYoJsHfAcok4MPIxZm_G3BDwIV'
results = service.files().list(
    q=f"'{folder_id}' in parents", pageSize=10, fields="files(id, name)"
).execute()
files = results.get('files', [])
print("Files in DVC-Storage:")
for file in files:
    print(f"{file['name']} ({file['id']})")

Files in DVC-Storage: